<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wages Data</title>

    <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <link rel="stylesheet" href="./static/lib/css/introjs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./static/js/basic.js" type="text/javascript"></script>

</head>
<body class="application">
    <div align="center" id="header">
        <h1>Wages analysis.</h1>
        <p>Presented here is a set of graphs examining the average wage per hour of a variety of American citizens.<hr>
        Notes; The sample itself is <strong> not </strong>evenly divided on gender, and racially <strong> overwhelmingly </strong> white to
            start with. It none the less makes for depressing reading, especially I suspect if
            you are older, female, non-white and poorly educated. One can only hope things have
            improved since 1980.<hr>Please click the "Take the tour!" button
            for an overview of the various functionality available. The other buttons
            show and hide this intro.<hr>Thank you!</p>
    </div>
    <button id="show">Show introduction</button> <button id="hide">Hide introduction</button>
    <button autofocus onclick="javascript:introJs().start();">TAKE THE TOUR!</button>


    <div id="overview" data-step="1" data-intro="This is an overview of the average wages of
        the sample group. You can select by wage here and see the makeup of those wage earners
        on the other graphs" style="font-weight: normal" data-position="right">

    </div>

    <div id ="gender" data-step="2" data-intro="This is the gender pie chart. Selections made on the
        wages chart will show you the male/female ratio <strong> of those earners</strong> here."
        style="font-weight: normal" data-position="left">
        <h3>Gender</h3>
    </div>

    <div id ="race" data-step="3" data-intro="Displayed here is race. Remember, you can combine selectors."
        style="font-weight: normal" data-position="left"><h3>Race</h3></div>

    <div id ="married"></div>
    <div id ="occupation" data-step="4" data-intro="Occupation and "
        style="font-weight: normal" data-position="above"><h3>Employment type</h3></div>
    <div id ="sector" data-step="5" data-intro="industry sector can also be very informative."
        style="font-weight: normal" data-position="above"><h3>Industry sector</h3></div>
    <div id ="union" data-step="6" data-intro="Clicking on small slices in the pie charts will reveal their name."
        style="font-weight: normal"><h3>Unionised?</h3></div>

    <div id ="occupationBar" data-step="7" data-intro="Here the above pie chart is shown as a bar chart."
        style="font-weight: normal" data-position="right"></div>

    <div id ="avgoccwage"></div>
    <div id ="avgoccwageline"></div>
    <div id ="lastChart" data-step="8" data-intro="Now we come to the real power of the d3 and DC libraries. Here, based on your selections above, are simultaniously displayed the number of employees in the different sectors AND their average wage. So for example, there my be very few male white clerical workers, but....  See for yourself. What other patterns can you find?"
        style="font-weight: normal" data-position="right"></div>


<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/crossfilter.js"></script>
<script src="./static/lib/js/d3.js"></script>
<script src="./static/lib/js/dc.js"></script>
<script src="./static/lib/js/queue.js"></script>
<script src="./static/lib/js/keen.min.js"></script>
<script src="./static/js/graph.js" type="text/javascript"></script>
<script src="./static/lib/js/intro.js" type="text/javascript"></script>

</body>
</html>